.bkgd{
    left:0px;
}

.m1{
    background-color: #A7C6ED;
}

.m2{
    background-color: #DC143C;
}
.m3{
    background-color: #98FF98;
}
.m4{
    background-color: #FFB7C5;
}
.m5{
    background-color: #74aa50;
}
.m6{
    background-color: #0077BE;
}
.m7{
    background-color: #FF4500;
}
.m8{
    background-color: #FFD700;
}
.m9{
    background-color: #FF8C00;
}
.m10{
    background-color: #FF7518;
}
.m11{
    background-color: #708090;
}
.m12{
    background-color: #800020;
}

